<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
注册
<ul>
    {% if user %}
    <li>
        <span>您好,{{user.username}}</span>
    </li>
    <li>
        <a href="{{url_for('logout')}}">退出</a>
    </li>
    {% else %}
    <li>
        <a href="{{url_for('login')}}">登录</a>
    </li>
    <li>
        <a href="{{url_for('register')}}">注册</a>
    </li>
    {% endif %}
</ul>
    <form method="POST">
      <label>用户名</label>
      <input type="text" name="username">
      <label>密码</label>
      <input type="password" name="password">
      <input type="submit" name="submit" value="提交">
    </form>
</body>
</html>